mat-card {
  border-radius: 0;
  width: 80%;
  margin: 2em auto;
  align-items: center;
}

mat-card-content {
  margin: .2em;
  width: 95%;
}

mat-toolbar {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

mat-card-actions {
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}

mat-card-actions button {
  width: 100px;
  border-radius: 2px;
  margin-left: 10px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.form-array-error {
  text-align: left;
}

tr {
  display: flex;
  justify-content: space-between;
}

td {
  display: flex;
}

td button {
  margin-top: 5px;
}

td button:hover mat-icon:hover {
  color: #FF0000;
}
