mat-card {
  border-radius: 0;
  width: 80%;
  margin: 4em auto;
  align-items: center;
}

mat-card-content {
  margin: 0 auto;
  width: 95%;
}

mat-toolbar {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

mat-card-actions {
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}

mat-card-actions button {
  width: 100px;
  border-radius: 2px;
  margin-left: 10px;
}


.form-array-error{
  text-align: left;
}
